.login {
  height: 100vh;
  .wrapper {
    width: 330px;
    margin: 100px auto;
    h6 {
      text-align: center;
      margin-bottom: 60px;
      font-weight: 600;
    }
  }
  &__logo {
    text-align: center;
    img {
      max-width: 200px;
      display: inline-block;
    }
  }
  &__form {
    .action {
      text-align: center;
    }
    .mdl-textfield {
      width: 100%;
    }
    input {
      width: 100%;

    }
  }
}