.map-section {
  margin: 60px 0;
  .white-bg {
    padding: 20px;
  }
  h5 {
    margin: 10px 0 20px;
  }
  &__container {
    overflow: hidden;
    &.active {
      .map {
        width: 70%;
      }
      .polyline-modal {
        border: 1px solid $light;
      }
    }

    .map {
      float: left;
      width: 100%;
      transition: 0.2s ease;
      height: 700px;
    }
    .polyline-modal {
      float: right;
      width: 0;
      overflow: hidden;
      transition: 0.2s ease;
      position: relative;
      height: 700px;
      box-shadow: 3px 2px 10px 10px rgba(0,0,0,0.3);
      &.show {
        width: 30%;
      }
      .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .top {
        background: $light;
      }
      .content {
        form {
          margin-bottom: 20px;
          .mdl-button {
            margin: 10px 0;
          }
        }

      }
      .inner {
        padding: 20px;
      }
    }
  }
}


#section {
  input[type="text"] {
    padding: 10px;
    width: 70px;
    text-align: center;
    border: 1px solid $light;
    border-radius: 3px;
  }
  #section_restrictions {
    label {
      padding-right: 10px;
    }
  }
  .row {
    margin: 5px 0;
  }
}