body {
  font-size: 16px;
  color: $dark;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: $light;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 48px;
}
h4 {
  font-size: 34px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}

.wrapper {
  width: 1180px;
  margin: 0 auto;
}

a {
  color: $red;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}