{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="login">
        <div class="wrapper">
            <div class="login__logo">
                <img src="./assets/img/logo.svg" alt="logo">
            </div>
            <div>Time management system</div>
            <div class="login__form">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" value="{{ last_username }}" id="inputEmail" name="email">
                        <label class="mdl-textfield__label" for="sample1">E-mail</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" name="password" type="password" id="inputPassword">
                        <label class="mdl-textfield__label" for="sample1">Hasło</label>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
                        Zaloguj
                    </button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
