<section class="steps">
    <div class="wrapper">
        <div class="steps__return"><a class="mdl-button mdl-js-button mdl-button--raised" href="#"><i><</i> powrót</a></div>
        {#<div class="steps__number">1/2 krok</div>#}
    </div>
</section>