<section class="steps">
    <div class="wrapper">
        <div class="steps__return"><a class="mdl-button mdl-js-button mdl-button--raised" href="{{ path('app_dashboard_index') }}"><i><</i> Return</a></div>
    </div>
</section>