<section class="dashboard">
    <div class="wrapper">
        <div class="dashboard__top">
            <button class="mdl-button"><i>+</i> Dodaj nowy przejazd</button>
            <div class="distance">
                Przejechane: <strong>412,45 km</strong> <span class="icomoon-Path-1995"></span>
            </div>
        </div>
        <div class="dashboard__content">
            <h4>Ostatnio dodane:</h4>

        </div>
    </div>
</section>