<header class="header">
    <div class="wrapper">
        <div class="logo">
            <span class="mdl-layout-title">
                <a href="{{ path('app_dashboard_index') }}"><span class="icomoon-orlen_logo"></span></a>
            </span>
            <h6>
                Time management system
            </h6>
        </div>
        <nav class="nav">
            <div class="hello">
                <span class="icomoon-Icon---Circle---Filled"></span> Hi Admin!
            </div>
            <div class="logout">
                <a href="/logout">Log out</a>
            </div>
        </nav>
    </div>
</header>