{% extends 'base.html.twig' %}

{% block body %}
    <h3>My Google Maps Demo</h3>
    <pre>
        {{ sections }}
    </pre>

    <div id="map" style="height: 400px;width: 100%"></div>
    <div id="polyline-modal">
    </div>
    <script src="/static/js/Router.js"></script>
    <script>
        const editPolyline = (polylineId) => {
            const modal = document.querySelector('#polyline-modal');
            const router = new Router();

            modal.classList.add('show');
            router.makeRequest({
                'method': 'GET',
                'url': '{{ path('section_edit', {'id': '__ID__'}) }}'.replace('__ID__', polylineId),
                'headers': {
                    'X-Requested-With': 'XMLHttpRequest',
                },
            }).then(response => {
                modal.innerHTML = response;
                const sectionForm = document.querySelector('form');
                sectionForm.addEventListener('submit', event => {
                    event.preventDefault();

                    const formData = new FormData(sectionForm);

                    router.makeRequest({
                        'method': 'POST',
                        'url': sectionForm.getAttribute('action'),
                        'headers': {
                            'X-Requested-With': 'XMLHttpRequest',
                        },
                        'parameters': formData
                    }).then(response => {
                        console.log(response);
                        modal.innerHTML = null;
                    }).catch(error => {
                        console.error(error);
                    })
                })
            }).catch(error => {
                alert('Error occurred :( Please, refresh site and try again!');
                console.error(error);
            });
        };

        async function initMap() {
            const routes = [
                {start: {lat: 52.6008266,lng: 19.6872685}, end: {lat: 52.6008481,lng: 19.686072}},
                {start: {lat: 52.6008481,lng: 19.686072}, end: {lat: 52.6007922,lng: 19.6854842}},
                {start: {lat: 52.6007922,lng: 19.6854842}, end: {lat: 52.6000353,lng: 19.685292}},
                {start: {lat: 52.6000353,lng: 19.685292}, end: {lat: 52.6000239,lng: 19.6862196}},
                {start: {lat: 52.6000121,lng: 19.6865964}, end: {lat: 52.6000353,lng: 19.685292}},
                {start: {lat: 52.6008481,lng: 19.686072}, end: {lat: 52.6000239,lng: 19.6862196}}
            ];
            const refinery = {lat: 52.588353, lng: 19.672254};
            const map = new google.maps.Map(
                document.getElementById('map'), {zoom: 13.98, center: refinery}
            );

            for (let route of routes) {
                let routePolyline = new google.maps.Polyline({
                    path: [route.start, route.end],
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 4,
                    elementId: 1
                });
                routePolyline.setMap(map);
                google.maps.event.addListener(routePolyline, 'click', () => editPolyline(routePolyline['elementId']))
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-a3f8Q6ZosKYXXjaIUoO_ad_yPq-iVjI&callback=initMap">
    </script>
{% endblock %}
