{% block _route_isBlocking_widget %}
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="{{ form.vars.id }}">
        <input name="{{ form.vars.full_name }}" type="checkbox" id="{{ form.vars.id }}" class="mdl-switch__input" checked>
        <span class="mdl-switch__label">
            Czy blokuje przejazd
        </span>
    </label>
{% endblock %}
