{% form_theme form 'route/_form_theme.html.twig'  %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn mdl-button">{{ button_label|default('Zapisz') }}</button>
{{ form_end(form) }}
