<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>

{% if is_granted('ROLE_USER') %}
{% include 'section/header.html.twig' %}
{% endif %}
<div id="sidebar">
    {% block sidebar %}
    {% endblock %}
</div>

<div id="content">
    {% block body %}
        <section class="intro section">
            <div class="wrapper">
                <div class="white-bg">
                    <div class="box">
                        <a href="{{ path('section_index') }}">
                            <span class="icomoon-orlen_logo"></span>
                            <h5>Route configuration</h5>
                            <p>If you want to update route’s width, max. height and status.</p>
                        </a>
                    </div>
                    <div class="box">
                        <a href="{{ path('vehicle_index') }}">
                            <span class="icomoon-orlen_logo"></span>
                            <h5>Add <br>new transit</h5>
                            <p>If you want to book a transit within refinery’s area.</p>
                        </a>
                    </div>
                    <div class="box">
                        <a href="{{ path('route_index') }}">
                            <span class="icomoon-orlen_logo"></span>
                            <h5>Upcomming <br>transits</h5>
                            <p>Select and preview all upcoming transits within refinery’s area.</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
</div>
</body>
</html>
