{% extends 'base.html.twig' %}

{% block body %}
    <h3>My Google Maps Demo</h3>
    <div id="map" style="height: 400px;width: 100%"></div>
    <div id="polyline-modal">
        <div id="polyline-modal-content"></div>
        test test
        <button type="button" id="polyline-modal-close">Save & close</button>
    </div>
    <script>
        const editPolyline = () => {
            const modal = document.querySelector('#polyline-modal');
            modal.classList.add('show');
        };

        async function initMap() {
            const routes = [
                {start: {lat: 52.6008266,lng: 19.6872685}, end: {lat: 52.6008481,lng: 19.686072}},
                {start: {lat: 52.6008481,lng: 19.686072}, end: {lat: 52.6007922,lng: 19.6854842}},
                {start: {lat: 52.6007922,lng: 19.6854842}, end: {lat: 52.6000353,lng: 19.685292}},
                {start: {lat: 52.6000353,lng: 19.685292}, end: {lat: 52.6000239,lng: 19.6862196}},
                {start: {lat: 52.6000121,lng: 19.6865964}, end: {lat: 52.6000353,lng: 19.685292}},
                {start: {lat: 52.6008481,lng: 19.686072}, end: {lat: 52.6000239,lng: 19.6862196}}
            ];
            const refinery = {lat: 52.588353, lng: 19.672254};
            const map = new google.maps.Map(
                document.getElementById('map'), {zoom: 13.98, center: refinery}
            );

            for (let route of routes) {
                let routePolyline = new google.maps.Polyline({
                    path: [route.start, route.end],
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 4
                });
                routePolyline.setMap(map);
                google.maps.event.addListener(routePolyline, 'click', editPolyline)
            }
        }

        document.querySelector('#polyline-modal-close').addEventListener('click', e => {
            e.target.parentNode.classList.remove('show');
        })
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-a3f8Q6ZosKYXXjaIUoO_ad_yPq-iVjI&callback=initMap">
    </script>
{% endblock %}